table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffff;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: lightgray;
  }
  