body {
    background-color: rgba(0, 40, 83, 1);
    color: black;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  pre {
    background-color: #4b5457;
    padding: 20px;
    border-radius: 5px;
    overflow-x: auto;
  }
  